.check{
    color: green;
    margin:5px;
}

.cross{
    color: red;
    margin:5px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(148, 148, 148);
    margin: 0.5em;
    width: 20vh;
    min-height: 27vh;
}

.card:hover{
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.246);
}