.chevron{
    font-size: 3em !important;
    color: rgba(0, 0, 0, 0.818);
    transition: 0.3s !important;
}

.chevron:hover{
    transition: 0.3s;
    cursor: pointer;
    transform: scale(130%);
}   

.disabled{
    color: rgb(118, 117, 117);
}
.disabled:hover{
    transform: none;
    cursor: default;
}

.darkBackground{
    background-color: rgb(69, 69, 69) !important;
}


